extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Nueva Bicicleta

    form(action="/bicicletas/create" method="post")
        label(for='color') COLOR:
        input#color(type="text" name='color')
        br
        label(for='modelo') MODELO:
        input#modelo(type="text" name='modelo')
        br
        label(for='lat') LAT:
        input#lat(type="text" name='lat')
        br
        label(for='lon') LON:
        input#lon(type="text" name='lon')
        br
        br
        input.btn(type="submit" value="OK")