extends ../layout

block content

    a(href='/bicicletas/create') Crear

    table.table
        thead 
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicación
                th(scope='col') Acciones

            tbody 
                each bici in bicis
                    tr
                        td(scope='row')= bici.uid
                        td= bici.color
                        td= bici.modelo 
                        td= bici.ubicacion
                        td
                            a(href=`/bicicletas/update/${bici.uid}`) 
                                button.link-button(type="btn" class="btn") Actualizar
                        td
                            form.inline(action=`/bicicletas/delete/${bici.uid}` method='post')
                                input(type="hidden" name='uid' value=bici.uid)
                                button.link-button(type="submit" name="submit_param" value="submit_value" class="btn")= 'Eliminar'