extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Actualizar Bicicleta - 
        b=bici.uid

    form(action=`/bicicletas/update/${bici.uid}` method="post")
        label(for='uid') UID:
        input#uid(type="text" value=bici.uid)
        br
        label(for='color') COLOR:
        input#color(type="text" name='color' value=bici.color)
        br
        label(for='modelo') MODELO:
        input#modelo(type="text" name='modelo' value=bici.modelo)
        br
        label(for='lat') LAT:
        input#lat(type="text" name='lat' value=bici.ubicacion[0] )
        br
        label(for='lon') LON:
        input#lon(type="text" name='lon' value=bici.ubicacion[1] )
        br
        br
        input.btn(type="submit" value="OK")